
@{
    ViewData["Title"] = "Acordion";
}


    <section id="Productlist">
        <div class="container">
            <div class="text">
                <div class="text-top">
                    <h1 style="padding: 2rem 0rem;">Accordions</h1>

                </div>
            </div>
        </div>
    </section>

    <section id="acordion">
        <div class="container">
            <div class="row">
                <div class="  col-lg-6">
                    <div class="accordian">
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMETS </h3>

                            </div>
                            <div class="card-body active">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>ATTENTION TO DETAIL </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>EASY IMPORT </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="  col-lg-6">
                    <div class="accordian">
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMENTS </h3>

                            </div>
                            <div class="card-body active">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMENTS </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMENTS </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div style="margin-top: 4rem;" class="row">
                <div class=" col-lg-6">
                    <div class="accordian">
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMETS </h3>

                            </div>
                            <div class="card-body active">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>ATTENTION TO DETAIL </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>EASY IMPORT </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-6">
                    <div class="accordian">
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-minus"></span>
                                <h3>CREATIVE ELEMENTS </h3>

                            </div>
                            <div class="card-body active">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMENTS </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <span class="fa fa-plus"></span>
                                <h3>CREATIVE ELEMENTS </h3>

                            </div>
                            <div class="card-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="content">
        <div class="icon ">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>



